<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Thao Dao</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Thao Dao</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">January 31, 1993</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Hochiminh City, Vietnam</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">dr.thaodao3101@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+84 969 528 706</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">https://drthaodao.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            If you get up in the morning and think the future is going to be better, it is a bright day. Otherwise, it’s not. -Elon Musk- 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>




<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My ability</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            ENT Doctor
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Treat some diseases related to ear, nose, and throat
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Computer vision - Artificial Intelligent - Medicine
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> I will pursue my aspiration in Artificial Intelligence throughout a program organized by Vietnam National University Ho Chi Minh City - University of Science and John von Neumann Institute.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
